*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' sans-serif;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background-color: white;


}
.right
{
    position: relative;
    background-color: #43978D;
    padding: 40px;
}